body {
  font-family: arial, sans-serif;
  width: 300px;
  height: 315px;
}
#form {
  margin-bottom: 3px;
}
#form input {
  width: 220px;
}
#map {
  height: 300px;
  width: 300px;
}
#errors {
  border: 1px solid red;
  background-color: #FED6D6;
  font-weight: bold;
}
#external_map {
  font-size: 0.7em;
  color: #666;
  float: right;
  clear: both;
}
