body {
  font-family: arial, sans-serif;
  width: 260px;
  height: 260px;
}
#form {
  margin-bottom: 0;
}
#form input {
  width: 180px;
}
#map {
  height: 250px;
  width: 250px;
}
#zestimate {
  margin-top: 3px;
  margin-bottom: 5px;
}
.range {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #666;
}
#errors {
  border: 1px solid red;
  background-color: #FED6D6;
  font-weight: bold;
}
#home_details, #external_map {
  font-size: 0.7em;
  color: #666;
}
#external_map {
  float: right;
  clear: both;
}